/* font importation*/
@import url('https://fonts.googleapis.com/css2?family=B612:ital,wght@0,400;0,700;1,400;1,700&family=Roboto&display=swap');



/* ------------------------------------ index.html ------------------------ */
/*General text formating in all pages*/
body{
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, 
.navbar .nav-link{
    font-family:'B612', sans-serif;
    text-transform: capitalize;
    text-align: center;
}

h3.heading{
    color:rgb(91, 92, 91);
}

/*navbar */
.nav-container{
    padding:0;
    background-color:rgba(224, 249, 209,.5);
}

.navbar li{
    margin: 0px 15px;
}

.navbar-light .navbar-nav .nav-link {
    color:rgb(61 107 61);
    font-size:19px;
    padding: 10px 15px;
}

.navbar-light .navbar-nav .nav-link:hover{
    color:#7853a5;
    padding: 10px 15px;
} /*incorportate brand purple colour for hover nav elements*/


.navbar-light .navbar-nav .active>.nav-link{
    color: #7853a5;
}


@media(min-width:1300px){
    .navbar{
        position: relative;
    }
    .navbar-brand{
        position:absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    } /*switch brand logo position in nav bar from left to middle on larger screen sizes*/
}

/* home banner */

.home-hero-image-container{
    height:70vh;
    background:url("../images/hero-images/home-hero.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display:flex;
    align-items:center;
    justify-content: center;

    position: relative;
}

@media (max-width: 768px) {
  .home-hero-image-container{
        background: url("../images/hero-images/home-hero-mobile.png") no-repeat center top;
  }
} /*switch image for small screen sizes*/


/* btn styling */
.btn--cta{
    background-color: rgb(61, 107, 61);
    color:white;
    margin:0 auto;
}

.btn--cta:hover{
    background-color:#7853a5;
    color:white;
}

.btn.focus, .btn:focus { 
    outline: 0;
    box-shadow: 0; /* turn off the automatic shadow box*/
}
    
/*jumbotron styling*/
.jumbotron {
    background-color: transparent;
}

.jumbotron h1{
    color:seashell;
} 

.jumbotron p{
    color: seashell;
    font-size: 110%;  
}

.overlay{
    position:absolute;
    height:100%;
    width:100%;
    background-color: rgba(0,0,0,0.2);
    top:0;
    left:0; /* apply a light overlay to improve text readability on hero banner*/
}

/*our-story-section */

.blurb{
    padding:50px 20px;
    text-align: center;
}

/*our creations section */

.our-creations-container{
    background-color: rgb(247, 244, 249);
    text-align:center;
    padding:50px 30px;
    margin-bottom: 50px;
}

.creationexamples{
    padding:30px;
}

.shadow-box1{
    width: 16em;
    height: 16em;
    margin:0 auto;
    background-color: rgba(61, 154, 42, 10%);

    display:flex;
    align-items:center;
    justify-content: center;

    position: relative; /* apply a shadowbox around image */
}

.creationexamples img{
    height:95%;
    width:95%;
}

.creationexamples h5{
    margin:20px 0px;
    color:rgb(61, 107, 61);
}

.card{
    border:0;
    background-color: rgb(231, 231, 231); /*card holding our creations content*/
}

.card ul {
    padding:0;
    line-height: 28px;

}

.list-group-item{
    background-color:rgb(247 244 249);
}

.garden-desc{
    font-weight:700;
    font-style:italic; /*our creations garden description*/
}

/* key elements section */
.key-company-elements{
    background-color: rgba(156, 186, 167, 27%);
    text-align:center;
    padding:50px 0px;
    margin: 50px 0px;
}

.key-icon{
    margin-bottom: 40px;
    font-size: 40px;
}

.key-element{
    margin-bottom:20px;
    padding: 0 3%;
}

/* testimonials- awards section*/
.testimonials-awards-container{
    margin:50px 0px;
}

/* Testimonials section */
.testimonial-section{
    background-color:rgb(247, 244, 249);
    text-align:center;
    padding:50px 20px;
}

.testimonial-card{
    background-color: rgba(226,216,234,27%);
    border-radius:5%;
    width: 95%;
    height:95%;
    padding: 30px 15px;
    box-shadow: 0 0 0 3px rgba(55, 151, 55, 8%);
    margin-top: 10px; /* holds all testimonal contents*/
}

.shadow-box{
    width: 15em;
    height: 15em;
    margin:0 auto;
    background-color: rgba(61, 154, 42, 10%);
    border-radius:50%;

    display:flex;
    align-items:center;
    justify-content: center;

    position: relative; /* shadow box for img*/
}


.testimonial-section img{
    height:95%;
    width:95%;
    border-radius:50%;
}

@media(max-width: 1027px) and (min-width:768px){
.testimonial-section .shadow-box{
    width: 11em;
    height: 11em;
}
} /* apply rules to shrink shadow box & img for tablet size devices */

.testimonial-icon{
    font-size:24px;
    margin:10px 0px;
    height:30px;
    width:30px; /* quotation marks */
}

.testimonial-card p{
    font-size: 95%;
    line-height:25px;
}

/*awards section*/ 

.awards-section{
    background-color: rgba(226, 216, 234, 27%);
    padding:50px 20px;
}

.awards-timeline{
    padding-top: 50px;
    padding-left:50px;
}

.awards-item{
    position:relative;
    padding-left: 50px;
    padding-bottom:50px;
}

.awards-item:before{
    content:attr(data-adates);
    font-family: "B612", sans-serif;
    font-weight:bold;
    font-size: 18px; /* the date each award was achieved */
}

.awards-item:after{
    content:"";
    height:70px;
    width:70px;
    display:block;
    background: url("../images/misc/flowers.png")no-repeat;
    position:absolute;
    top: 5%;
    left: -50px; /* flower image to represent each achived award*/
}

.awards-item .awarding-body{
    text-align:left! important;
    font-size:20px;
    margin:4px 0px; /*Glasca / AlCA awards */
    
}

/*footer*/

.footer-section{
    background-color: rgba(224, 249, 209, 0.5);
    padding:60px 0px;
    margin-top:50px;
    text-align:center;
}

.logo{
    width: 90%;
    margin: 50px 0px;
}

.logo img{
    width:240px;
    height:80px;
}
.blurb-contact{
    width:95%;
    margin: 50px 0px;
    padding: 0px 30px;
}

.blurb-contact p{
    line-height: 28px;
}

.ahreflink{
    text-decoration: none;
    color: black; /* Over-ride automatic blue styling*/
}

.social-link-section{
    width:95%;
    margin:50px 0px;
}

.icon{
    height:50px;
    width:50px;
    font-size:32px;
    color:rgb(61, 107, 61);
    margin-top:20px;
}

.click-icon:hover{
    color:#7853a5;
}

.footer-title-text{
    font-family: 'B612', sans-serif;
    font-weight:bold;
    color:rgb(61, 107, 61);
    text-decoration: none;
}

.click-footer-title-text:hover,
.click-footer-title-text:active{
    font-family: 'B612', sans-serif;
    font-weight:bold;
    color:#7853a5;
    text-decoration: none;
}

/* ---------------------------------about.html-------------------*/
/*about-hero-image-container */

.about-hero-image-container{
    height:70vh;
    background:url("../images/hero-images/about-hero.png")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display:flex;
    align-items:center;
    justify-content: left;

    position: relative;
} /* needed as it is a new image */

@media (max-width: 768px) {
  .about-hero-image-container{
        background: url("../images/hero-images/about-hero-mobile.png") no-repeat center top;
  }
} /*switch image for small screen sizes*/

.about-hero-image-container .jumbotron h1{
    text-align:left;
} /* offset jumbotron text to diff it from homepage */


/*about us - our services */

.ourcreations p{
    padding: 0 26px;
}

/* about us - our Team */

.meet-the-team-container{
    background-color: rgba(156, 186, 167, 27%)
}

/* colours for progress bars */
.bg-color1{
    background-color: #3e9e3e;
}

.bg-color2{
    background-color: #298f57;
}

.bg-color3{
    background-color:#379781;
}

.bg-color4{
    background-color:  #378997;
}

.progress{
    position:relative;
    height: 30px;
    margin:4px;
}

.progress-type{
    position:absolute;
    left:0;
    color:#fafafa;
    background-color:rgba(25,25,25,0.2);
    padding:3px 30px 2px 10px;
}

.team-text-box{
    min-height:210px;
    max-width:350px;
    margin:auto;
}

@media(max-width: 1027px) and (min-width:768px){
.team-text-box{
    height:290px;
    }
}

.team-member{
    margin:20px 0px;
}

/*------------------------------------------ contact us ---------------------*/

/*hero-banner*/

.contact-hero-image-container{
    height:70vh;
    background:url("../images/hero-images/contact-hero.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display:flex;
    align-items:center;
    justify-content: left;

    position: relative;
}

@media (max-width: 768px) {
  .contact-hero-image-container{
        background: url("../images/hero-images/contact-hero-mobile.png") no-repeat center top;
  }
}

.contact-hero-image-container .jumbotron h1{
    text-align:left;
}

.contact-us-button{
    margin-top:20px;
}

.contact-us-form-container{
    margin:50px 0px;
    background-color:rgba(226,216,234,27%);
}


.contact-form-format{
    margin:0 auto;
    max-width:75%;
    margin-bottom: 50px;
    padding:20px;
    background-color:rgb(247, 244, 249);
}

.contact-heading{
    Margin-top:30px;
}

.contact-button{
    margin:35px 0;
    text-align: center;
}

/*------------------------------------portfolio----------------------------------------*/

.portfolio-hero-image-container{
    background:url("../images/hero-images/portb.png")no-repeat center center fixed;
    height:70vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display:flex;
    align-items:center;
    justify-content: left;

    position: relative;
}

@media (max-width: 768px) {
  .portfolio-hero-image-container{
        background: url("../images/hero-images/portb-mobile.png") no-repeat center top;
  }
}

.garden-awards-container{
    margin-bottom:50px;
}

.garden-awards-container img{
    height:95% !important;
    width:95% !important;
    border-radius:0;
}

.recent-gardens-container{
    margin-bottom:50px;
    background-color:rgba(156, 186, 167, 27%);
}

.recent-gardens-container img{
    height:95% !important;
    width:95% !important;
    border-radius:0;
}

.badge-gold{
    background-color: rgb(168, 149, 38);
}

.garden-text-box {
    min-height: 240px;
    max-width: 350px;
    margin: auto;
}

@media(min-width: 760px) and (max-width:1000px){
.garden-text-box2 {
    min-height: 200px;
    max-width: 500px;
    margin: auto;
    margin-bottom:20px;
}
}


