@import url('https://fonts.googleapis.com/css2?family=B612:ital,wght@0,400;0,700;1,400;1,700&family=Roboto&display=swap');

/*
    font-family: 'B612', sans-serif;
    font-family: 'Roboto', sans-serif;
}
*/

/*fonts */

body{
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6, 
.navbar .nav-link{
    font-family:'B612', sans-serif;
    text-transform: capitalize;
    text-align: center;
}

.nav-container{
    padding:0;
    background-color:rgb(221, 230, 191);
    border-bottom:3px ridge rgba(55, 151, 55, 0.3);
}

.navbar{
    padding:0, 2px;
}

.navbar-brand{
    margin-right:10%;
}

.navbar li{
    margin: 0px 15px;
}

.navbar-light .navbar-nav .nav-link {
    color:rgb(22, 94, 22);
    font-weight: bold;
    padding: 10px 15px;
}

.navbar-light .navbar-nav .nav-link:hover {
    color:rgb(211, 31, 181);
    padding: 10px 15px;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, 
.navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: rgba(172, 14, 204, 0.9);
}

@media(min-width:992px){
    .navbar{
        position: relative;
    }
    
    .navbar-brand{
        position:absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        margin:auto;
    }

}

/* home banner */

.banner-container{
    height:70vh;
    background: url(/assets/images/lavgarden.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display:flex;
    align-items:center;
    justify-content: center;

    position: relative;
}

/* btn styling */
.btn--cta{
    background-color: rgb(55, 151, 55);
    color:white;
}

.btn--cta:hover{
    background-color:rgb(150, 31, 130);
    color:white;
}

.jumbotron{
    background-color:transparent;
}

.jumbotron h1{
    color:#f5f3e9;
} 

.jumbotron p{
    color: seashell;
    font-size: 110%;
    font-weight: 400;
    
}

.overlay{
    position:absolute;
    height:100%;
    width:100%;
    background-color: rgba(0,0,0,0.1);
    top:0;
    left:0;
}

/*blurb */

.blurb{
    margin:50px 21px;
    display:block;
}

.footer-section{
    background-color: rgb(221, 230, 191);
    border-top:3px ridge rgba(55, 151, 55, 0.3);
    padding: 50px 0px;
}
.logo{
    padding:20px;
    margin:20px;
    text-align: center;
}

.logo img{
    width:240px;
    height:80px;
}
.blurb-contact{
    padding:20px;
    margin:20px;
    text-align: center;
}

.social-link-group{
    padding:20px;
    margin:20px;
    text-align: center;

}

.icon{
    height:50px;
    width:50px;
    font-size:32px;
    color:rgb(55, 151, 55);
    margin-top:20px;
}

.icon:hover{
    color:rgb(211, 31, 181);
}

.footer-title-text{
    font-family: 'B612', sans-serif;
    font-weight:bold;
    color:rgb(55, 151, 55);
    text-decoration: none;
}

.footer-title-text:hover{
    font-family: 'B612', sans-serif;
    font-weight:bold;
    color:rgb(211, 31, 181);
    text-decoration: none;
}

/*our creations homepage */
.ourcreations{
    background-color: #e7e7e7;
    padding:50px 30px;
}
.ourcreations img{
    height:300px;
    width:300px;
}

.creationexamples{
    padding:5px;
    box-sizing:content-box;
}

.creationexamples h5{
    margin-top:7px;
    color:rgb(55, 151, 55);
}

@media screen and (max-width: 768px) {
  .creationexamples {
    margin:20px 0;
  }
}

@media(max-width: 1026px) and (min-width:768px)
{
    .ourcreations img{
        height:200px;
        width:200px;
                    }
}

/*company key points and awards */
.testimonials-awards{
    padding:50px 30px;
}

.testimonial-section{
    background-color:rgb(214, 214, 214);
    text-align:center;
    margin:auto;
    padding-top:50px;
    width: 95%;
}

.testimonial-section .shadow-box{
    width: 13em;
    height: 13em;
    margin:0 auto;
    background-color: rgb(221, 230, 191);
    border-radius:50%;
    box-shadow: 0 0 0 3px rgba(55, 151, 55, 0.3);

    display:flex;
    align-items:center;
    justify-content: center;

    position: relative;
}

.testimonial-section img{
    height:95%;
    width:95%;
    border-radius:50%;
}

.testimonial-card{
    background-color: rgb(255, 255, 255);
    border-radius:5%;
    width: 95%;
    height:95%;
    box-shadow: 0 0 0 3px rgba(55, 151, 55, 0.3);
}

.key-company-elements{
    background-color: white;
    text-align:center;
    margin:auto;
    padding:50px 0px;
    width: 100%;
}

.key-company-points i{
    margin-bottom: 40px;
    font-size: 40px;
}

.awards-section{
    background-color:rgb(231, 231, 231);
    padding-top:50px;
}

.awards-item{
    border-left: 5px solid black;
    position:relative;
    padding: 25px;
}
.awards-item:before{
    content:attr(data-adates);
    padding:0;
    font-family: "B612", sans-serif;
    font-weight:400;
    font-size: 0.8em;
}

.awards-item:after{
    content:"";
    height:12px;
    width:12px;
    display:block;
    border-radius:20px;
    background-color: black;
    position:absolute;
    top: 50%;
    left: -8px;
}

.awards-timeline{
    padding: 0px 5px;
    margin-bottom:5px;
}

.awards-item h6{
        text-align:left! important;
        padding:2px 0px;
        margin:4px 0px;
}


/*aboutuspic-container */

.aboutuspic-container{
    background:url("/assets/images/about.png")no-repeat center center fixed;
    height:70vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display:flex;
    align-items:center;
    justify-content: center;

    position: relative;
}

/*about us - our services */

.ourcreations p{
    padding: 0 26px;
}