.nav-container{
    margin:0;
    padding:0;
}


@media(min-width:992px){
    .navbar{
        position: relative;
    }
    
    .navbar-brand{
        position:absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        margin:auto;
    }

}